** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742
"The diameter of {} is {} kilometers".format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
Tuple is immutable, list items  can be changed.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [8]:
def domainGet(inp):
  return inp.split("@")[1]

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [9]:
def findDog(inp):
  return "dog" in inp.lower().split()

In [10]:
findDog("Is there a dog here?")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [11]:
def countDog(inp):
  dog = 0
  for x in inp.lower().split():
    if x == "dog":
      dog += 1
  return dog

In [12]:
countDog("This dog runs faster than the other dog")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [13]:
def caught_speeding(speed, is_birthday):
  
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

In [14]:
caught_speeding(81,True)

'Small Ticket'

In [15]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [16]:
expList = [15000, 24000, 18000, 10000, 12000, 13000]

totalExp = 0
for i in expList:
  totalExp = totalExp + i
print(f"Total expenditure of {len(expList)} employee(s) is {totalExp}")

Total expenditure of 6 employee(s) is 92000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [17]:
dict_1 = {'Empid':1, 'Empname': "Siva", 'Basicpay' : 12000 }
dict_2 = {'DeptName': "Sales",'Deptid': 20 }
dict_3 = {**dict_1,**dict_2}
print(dict_3)

{'Empid': 1, 'Empname': 'Siva', 'Basicpay': 12000, 'DeptName': 'Sales', 'Deptid': 20}